<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Emissão de certificados</title>
    <link rel="stylesheet" href="/static/certificado.css">

    <link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">
  </head>
  <body>
    

    <div id="form-frente">
      <form action="/certificados" id="certificados" method="post">
        <div class="mb-3">
          <div class="container">
            <label for="">Nome do curso/treinamento: </label>
            <input type="text" name="nomecurso" id="nomecurso">
          </div>

          <div class="container">
            <label for="">Data de ralização: </label>
            <input type="text" name="datacurso" id="nomecurso">
          </div>

          <div class="container">
            <label for="">Carga horária (horas): </label>
            <input type="text" name="cargahorario" id="nomecurso">
          </div>

          <div class="container">
            <label for="">Conteúdo programatico: </label>
            <div>
              <textarea name="conteudo" id="conteudo" cols="80" rows="15"></textarea>
            </div>
          </div>

          <div class="container">
            <label for="">Nome da empresa: </label>
            <input type="text" name="empresa" id="empresa">
          </div>

          <div class="container">
            <label for="">Nome do instrutor: </label>
            <input type="text" name="nomeinstrutor" id="nomeinstrutor">
          </div>

          <div class="container">
            <label for="">Registro do instrutor: </label>
            <input type="text" name="registroinstrutor" id="registroinstrutor">
          </div>

          <div class="container">
            <label for="">Nome do responsável técnico: </label>
            <input type="text" name="nomeresponsavel" id="nomeresponsavel">
          </div>

          <div class="container">
            <label for="">Registro do responsável técnico: </label>
            <input type="text" name="registroresponsavel" id="registroresponsavel">
          </div>

        </div>

        <div id="form-colab">
          <div>
            <label for="nomecolab" >Nome do colaborador: </label>
            <input type="text" name="nomecolab" id="nomecolab">
          </div>

          <div>
            <label for="cpf" >CPF: </label>
            <input type="text" name="cpf" id="cpf">
          </div>
        </div>

      </form>
      <div class="buttons">
        <div class="mb-3" id="gerarcert">
          <button type="submit" id="btn_certificados">GERAR CERTIFICADOS</button>
        </div>
        
        <form action="/download" method="post" >            
          <button type="submit" class="download">Download</button>
        </form>
  
      </div>

      <div id="form_frente" class="upload">
        <form action="/upload" method="post" enctype="multipart/form-data" >
          <input type="file" name="documento" id="documento">
          <button type="submit" class="submit">Enviar arquivo</button>
        </form>
      </div>

    </div>
    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}

  </body>
</html>